* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    border: 2px solid black;
}

section{
    border: 2px solid black;
    display:grid;
}
.main_page{
    display: grid;
    grid-auto-flow: column;
}
div{
    display: grid;
    border: 1px solid black;
    grid-auto-flow: column;
}

.left-menu{
    display: grid;
    grid-auto-flow: row;
}

.main_page_right{
    display: grid;
    grid-auto-flow: row;
}