*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","Arial",sans-serif;
}

body {
    min-height: 100vh;
    display: grid;

    grid-template:
        "header    header  header" 60px
        "left-menu rec-genres   rec-genres" 60px
        "left-menu    yt-videos  yt-videos" 1fr/
        250px 200px auto;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}
.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template:
    "header__left header-search header__right"/
    300px 850px 1fr;

}
.header__left{
display: grid;
width: min-content;
grid-auto-flow: column;
grid-column-gap: 20px;
padding-left: 30px;
grid-area: header__left;

}
.header-search__button{
    display: grid;
    grid-auto-flow: column;
}
.header-search_input{
    width:600px;
    height: 42px;
    border: 1px solid rgb(223, 223, 223);
 font-family: sans-serif;
 font-size: medium;

}
.header-search{
    display: grid;
grid-auto-flow: column;
width: 50px;
grid-column-gap: 8px;
grid-area: header-search;
}

button{
    border:none;
    background-color: white;
}
.search-button{
    height: 42px;
    border: 1px solid rgb(223, 223, 223);
}

.mic-button{
    border: none;
    height: 40px;
}


.yt-logo {
    width: 100px;

}

.user-profile {
    width: 32px;
    border-radius: 50%;
}

.left-menu {
    grid-area: left-menu;
    margin-right: 10px;
    overflow: scroll;
    height: 580px;
}

.rec-genres {
    grid-area: rec-genres;
    display: grid;
    grid-auto-flow: column;
    padding: 20px;
    place-items: center;
    border-top: 0.5px solid rgb(216, 216, 216);
    border-bottom: 0.5px solid rgb(216, 216, 216);
}

.rec-genres__links{
    border: 1px solid rgba(155, 154, 154, 0.233);
    font-size: small;
    padding: 8px;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
}

.yt-videos {
    background-color: rgb(249,249,249);
    grid-area: yt-videos;
}

.header__right{
display: grid;
    grid-auto-flow: column;
    place-items: center;
    width:200px;
    grid-area: header__right;
}

.left-menu__first,
.left-menu__second,
.left-menu__third{
    display: grid;
    padding: 30px;
    border-bottom: 0.5px solid rgb(216, 216, 216);
}

.left-menu__list{
    display: grid;
    grid-row-gap: 15px;

}

.yt-videos{
    display: grid;
    grid-template:
    "video1 video2 video3 video4" 50%
    "video5 video6 video7 video8" 50%/
    25% 25% 25% 25%;
    grid-gap: 15px;
    padding: 20px;

}
.video1{
    grid-area: video1;
}
.video2{
    grid-area: video2;
    background-color: rgb(60, 60, 226);
}
.video3{
    grid-area: video3;
    background-color: rgb(165, 165, 165);
}
.video4{
    grid-area: video4;
    background-color: rgb(17, 175, 141);
}
.video5{
    grid-area: video5;
    background-color: rgb(47, 139, 11);
}

.video6{
    grid-area: video6;
    background-color: rgba(221, 39, 39, 0.61);
}
.video7{
    grid-area: video7;
    background-color: rgb(211, 46, 123);
}
.video8{
    grid-area: video8;
    background-color: rgba(185, 72, 134, 0.507);
}

.video1{
    display: grid;
    grid-auto-flow: row;
   
}

.thumbnail1{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: fill;
    place-content: top;
}

.yt-videos__user{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
.yt-videos__user-profile{
    border-radius: 50%;
    width: 40px;
}
.yt-videos__title{
    display: grid;
    align-items: center;
}
.yt-videos__details{
    padding-left: 55px;
    display: grid;

    font-size: smaller;
}

.yt-videos__description{
display: grid;
grid-auto-flow: row;
}