* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","Arial",sans-serif;
}

body {
    min-height: 100vh;
    display: grid;

    grid-template:
        "header    header  header" 60px
        "left-menu rec-genres   rec-genres" 60px
        "left-menu    yt-videos  yt-videos" 1fr/
        250px 200px auto;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}
.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template:
    "header__left header-search header__right"/
    300px 850px 1fr;

}
.header__left{
display: grid;
width: min-content;
grid-auto-flow: column;
grid-column-gap: 20px;
padding-left: 30px;
grid-area: header__left;

}
.header-search__button{
    display: grid;
    grid-auto-flow: column;
}
.header-search_input{
    width:600px;
    height: 42px;
    border: 1px solid rgb(223, 223, 223);
 font-family: sans-serif;
 font-size: medium;

}
.header-search{
    display: grid;
grid-auto-flow: column;
width: 50px;
grid-column-gap: 8px;
grid-area: header-search;
}

button{
    border:none;
    background-color: white;
}
.search-button{
    height: 42px;
    border: 1px solid rgb(223, 223, 223);
}

.mic-button{
    border: none;
    height: 40px;
}


.yt-logo {
    width: 100px;

}

.user-profile {
    width: 32px;
    border-radius: 50%;
}

.left-menu {

    grid-area: left-menu;
}

.rec-genres {
    background-color: aqua;
    grid-area: rec-genres;
}

.yt-videos {
    background-color: blueviolet;
    grid-area: yt-videos;
}

.header__right{
display: grid;
    grid-auto-flow: column;
    place-items: center;
    width:200px;
    grid-area: header__right;
}

.left-menu__first{
    display: grid;
    padding: 30px;
    border-bottom: 0.5px solid rgb(216, 216, 216);
}